* {
font-family: 'Comfortaa', sans-serif;
color: #008a7e;
}

body {
  background-color: #FAF9F4;
}

/*All Applicants*/
.table {
  background-color: #fff;
}

thead {
  font-weight: bold !important;
}

tbody>tr>td{
  vertical-align: middle !important;
}
/*End all applicants*/


/*Top Navbar*/
.navbar-top {
  background-color: #fff;
  border-left: 0px;
  border-right: 0px;
  width: 100%;
}

/*dashboard*/
/*list*/
.dash-text-primary {
  color: #fff;
  text-align: center;
  font-size: 20rem;
}

.btn-dash {
  background-color: #fbbd19;
  color: #fff;
}

.btn-dash:hover, .btn-dash:focus {
  color: #fff !important;
}

.dash-jumbotron{
  background-color: #fff;
  width:100%;
}


/*sidebar*/
/*badge*/
.sidebar-badge {
  background: #fbbd19 ;
  font-size: 0.8rem;
  color: white;
}

/*panel*/
.dash-panel-head {
   background-color: #2bbbad !important;
   color: white !important;
}

.dash-list {
  list-style: none;
}

.dash-list-item {
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
/*end sidebar*/

/*Form*/
.interview-panel-head {
   background-color: #fbbd19 !important;
   color: white !important;
}

.form-label {
  color: #008a7e !important;
  font-size: 1rem;
}

.form-label::-webkit-input-placeholder {
  color: #b2dfdb;
}

.form-select-inline {
  width:auto;
  display:inline-block;
}

/*Person page*/
@media screen and (min-width: 768px) {
    .modal-dialog {
        left: 50%;
        right: auto;
        width: 624px;
    }
}

.modal-dialog{
   position: absolute;
   left: 50%;
   /* now you must set a margin left under zero - value is a half width your window */
   margin-left: -312px;
   /* this same situation is with height - example */
   height: 500px;
   top: 50%;
   margin-top: -250px;
}

.person-list {
  font-size: 1.2rem;
}

.person-list-item {
  padding-bottom: 10px;
}

.label-action {
  background-color: #fbbd19;
  border-radius: 5px;
}

.label-danger {
  border-radius: 5px;
}

.progress-bar {
  color: #e6e6e6;
}

div.circle-avatar{
  /* make it responsive */
  max-width: 60%;
  width:60%;
  height:auto;
  display:block;
  /* div height to be the same as width*/
  padding-top:60%;

  /* make it a circle */
  border-radius:50%;

  /* Centering on image`s center*/
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;

  /* it makes the clue thing, takes smaller dimension to fill div */
  background-size: cover;

  /* it is optional, for making this div centered in parent*/
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 30px;
}

.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot-rejected {position: absolute; width: 30px; height: 30px; display: block; background: #EF9A9A; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .bs-wizard-dot-rejected:after {content: ' '; width: 14px; height: 14px; background: #D32F2F; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.disabled > .progress {background-color: #e6e6e6;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #e6e6e6;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/
