<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block sidebar bg3">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="rudolph.php">Overview <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="mum.php">Mum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Dad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Brother</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Significant Other</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Sister</a>
        </li>
      </ul>

      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Add a giftee</a>
        </li>
      </ul>
    </nav>
