
<main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
  <h1 class="text-bright">Your Giftees</h1>
    <section class="row text-center placeholders">
      <div class="col-6 col-sm-3 placeholder">
        <a href="mum.php">
          <img src="images/5.png" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        </a>
        <h4>Mum</h4>
        <div class="text-muted">Budget: £100</div>

      </div>
      <div class="col-6 col-sm-3 placeholder">
        <img src="images/5.png" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Dad</h4>
        <span class="text-muted">Budget: £100</span>
      </div>
      <div class="col-6 col-sm-3 placeholder">
        <img src="images/5.png" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Brother</h4>
        <span class="text-muted">Budget: £100</span>
      </div>
      <div class="col-6 col-sm-3 placeholder">
        <img src="images/5.png" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Significant Other</h4>
        <span class="text-muted">Budget: £100</span>
      </div>
      <div class="col-6 col-sm-3 placeholder">
        <img src="images/5.png" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Sister</h4>
        <span class="text-muted">Budget: £100</span>
      </div>
    </section>
